// Primary Color
$black-40: #000000;
$globe_blue-10: #0E0E96;
$electric_blue-40: hsl(231, 100%, 50%);
$white-8: #FFFFFF;
$globe_red-2: #FF1400;
$input_field: #191919;



/* Aux */
$error:#FF1400;
$info:#0043CE;
$success:#65B530;
$warning:#F1C21B;





