/* Variblaes */
/* Aux */
/* Components */
* {
  font-family: 'So:hne';
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

img {
  max-width: 100%;
}

.fw_100 {
  font-weight: 100;
}

.fw_200 {
  font-weight: 200;
}

.fw_300 {
  font-weight: 400;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.fs_55 {
  font-size: 55px;
}

.fs_54 {
  font-size: 54px;
}

.fs_52 {
  font-size: 52px;
}

.fs_50 {
  font-size: 50px;
}

.fs_48 {
  font-size: 48px;
}

.fs_46 {
  font-size: 46px;
}

.fs_44 {
  font-size: 44px;
}

.fs_42 {
  font-size: 42px;
}

.fs_40 {
  font-size: 40px;
}

.fs_38 {
  font-size: 38px;
}

.fs_36 {
  font-size: 36px;
}

.fs_34 {
  font-size: 34px;
}

.fs_32 {
  font-size: 32px;
}

.fs_30 {
  font-size: 30px;
}

.fs_28 {
  font-size: 28px;
}

.fs_26 {
  font-size: 26px;
}

.fs_24 {
  font-size: 24px;
}

.fs_22 {
  font-size: 22px;
}

.fs_20 {
  font-size: 20px;
}

.fs_18 {
  font-size: 18px;
}

.fs_16 {
  font-size: 16px;
}

.fs_14 {
  font-size: 14px;
}

.fs_12 {
  font-size: 12px;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-BlackItalic.eot");
  src: url("../fonts/canela_fonts/Canela-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-BlackItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-BlackItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-BlackItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-BlackItalic.svg#Canela-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-BlackItalic.svg#CanelaCondensed-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Bold.eot");
  src: url("../fonts/canela_fonts/Canela-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Bold.woff") format("woff"), url("../fonts/canela_fonts/Canela-Bold.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Bold.svg#Canela-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Black.eot");
  src: url("../fonts/canela_fonts/Canela-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Black.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Black.woff") format("woff"), url("../fonts/canela_fonts/Canela-Black.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Black.svg#Canela-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-BoldItalic.eot");
  src: url("../fonts/canela_fonts/Canela-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-BoldItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-BoldItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-BoldItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-BoldItalic.svg#Canela-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-LightItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-LightItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-LightItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-LightItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-LightItalic.svg#CanelaCondensed-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Black.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Black.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Black.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Black.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Black.svg#CanelaCondensed-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Bold.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Bold.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Bold.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Bold.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Bold.svg#CanelaCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-MediumItalic.svg#CanelaCondensed-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-BoldItalic.svg#CanelaCondensed-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Light.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Light.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Light.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Light.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Light.svg#CanelaCondensed-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Thin.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Thin.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Thin.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Thin.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Thin.svg#CanelaCondensed-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-LightItalic.eot");
  src: url("../fonts/canela_fonts/Canela-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-LightItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-LightItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-LightItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-LightItalic.svg#Canela-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-ThinItalic.svg#CanelaCondensed-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Medium.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Medium.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Medium.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Medium.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Medium.svg#CanelaCondensed-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-Regular.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-Regular.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-Regular.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-Regular.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-Regular.svg#CanelaCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Condensed';
  src: url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.eot");
  src: url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.woff2") format("woff2"), url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.woff") format("woff"), url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.ttf") format("truetype"), url("../fonts/canela_fonts/CanelaCondensed-RegularItalic.svg#CanelaCondensed-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Medium.eot");
  src: url("../fonts/canela_fonts/Canela-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Medium.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Medium.woff") format("woff"), url("../fonts/canela_fonts/Canela-Medium.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Medium.svg#Canela-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-MediumItalic.eot");
  src: url("../fonts/canela_fonts/Canela-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-MediumItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-MediumItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-MediumItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-MediumItalic.svg#Canela-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-ThinItalic.eot");
  src: url("../fonts/canela_fonts/Canela-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-ThinItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-ThinItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-ThinItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-ThinItalic.svg#Canela-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Regular.eot");
  src: url("../fonts/canela_fonts/Canela-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Regular.woff") format("woff"), url("../fonts/canela_fonts/Canela-Regular.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Regular.svg#Canela-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-RegularItalic.eot");
  src: url("../fonts/canela_fonts/Canela-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-RegularItalic.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-RegularItalic.woff") format("woff"), url("../fonts/canela_fonts/Canela-RegularItalic.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-RegularItalic.svg#Canela-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Light.eot");
  src: url("../fonts/canela_fonts/Canela-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Light.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Light.woff") format("woff"), url("../fonts/canela_fonts/Canela-Light.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Light.svg#Canela-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url("../fonts/canela_fonts/Canela-Thin.eot");
  src: url("../fonts/canela_fonts/Canela-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/canela_fonts/Canela-Thin.woff2") format("woff2"), url("../fonts/canela_fonts/Canela-Thin.woff") format("woff"), url("../fonts/canela_fonts/Canela-Thin.ttf") format("truetype"), url("../fonts/canela_fonts/Canela-Thin.svg#Canela-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Halbfett.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Halbfett.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Halbfett.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Halbfett.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Halbfett.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Halbfett.svg#Sohne-Halbfett") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-ExtrafettKursiv.svg#Sohne-ExtrafettKursiv") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-BuchKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-BuchKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-BuchKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-BuchKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-BuchKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-BuchKursiv.svg#Sohne-BuchKursiv") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-DreiviertelfettKursiv.svg#Sohne-DreiviertelfettKursiv") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Fett.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Fett.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Fett.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Fett.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Fett.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Fett.svg#Sohne-Fett") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-ExtraleichtKursiv.svg#Sohne-ExtraleichtKursiv") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Buch.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Buch.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Buch.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Buch.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Buch.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Buch.svg#Sohne-Buch") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-FettKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-FettKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-FettKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-FettKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-FettKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-FettKursiv.svg#Sohne-FettKursiv") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Extraleicht.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Extraleicht.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Extraleicht.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Extraleicht.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Extraleicht.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Extraleicht.svg#Sohne-Extraleicht") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Dreiviertelfett.svg#Sohne-Dreiviertelfett") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Extrafett.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Extrafett.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Extrafett.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Extrafett.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Extrafett.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Extrafett.svg#Sohne-Extrafett") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Kraftig.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Kraftig.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Kraftig.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Kraftig.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Kraftig.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Kraftig.svg#Sohne-Kraftig") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-Leicht.eot");
  src: url("../fonts/testsohne_fonts/Sohne-Leicht.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-Leicht.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-Leicht.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-Leicht.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-Leicht.svg#Sohne-Leicht") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-HalbfettKursiv.svg#Sohne-HalbfettKursiv") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-LeichtKursiv.svg#Sohne-LeichtKursiv") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'So:hne';
  src: url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.eot");
  src: url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.eot?#iefix") format("embedded-opentype"), url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.woff2") format("woff2"), url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.woff") format("woff"), url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.ttf") format("truetype"), url("../fonts/testsohne_fonts/Sohne-KraftigKursiv.svg#Sohne-KraftigKursiv") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

.mt_2,
.my_2 {
  margin-top: 2px;
}

.mb_2,
.my_2 {
  margin-bottom: 2px;
}

.ml_2,
.mx_2 {
  margin-left: 2px;
}

.mr_2,
.mx_2 {
  margin-right: 2px;
}

.mt_4,
.my_4 {
  margin-top: 4px;
}

.mb_4,
.my_4 {
  margin-bottom: 4px;
}

.ml_4,
.mx_4 {
  margin-left: 4px;
}

.mr_4,
.mx_4 {
  margin-right: 4px;
}

.mt_6,
.my_6 {
  margin-top: 6px;
}

.mb_6,
.my_6 {
  margin-bottom: 6px;
}

.ml_6,
.mx_6 {
  margin-left: 6px;
}

.mr_6,
.mx_6 {
  margin-right: 6px;
}

.mt_8,
.my_8 {
  margin-top: 8px;
}

.mb_8,
.my_8 {
  margin-bottom: 8px;
}

.ml_8,
.mx_8 {
  margin-left: 8px;
}

.mr_8,
.mx_8 {
  margin-right: 8px;
}

.mt_10,
.my_10 {
  margin-top: 10px;
}

.mb_10,
.my_10 {
  margin-bottom: 10px;
}

.ml_10,
.mx_10 {
  margin-left: 10px;
}

.mr_10,
.mx_10 {
  margin-right: 10px;
}

.mt_12,
.my_12 {
  margin-top: 12px;
}

.mb_12,
.my_12 {
  margin-bottom: 12px;
}

.ml_12,
.mx_12 {
  margin-left: 12px;
}

.mr_12,
.mx_12 {
  margin-right: 12px;
}

.mt_14,
.my_14 {
  margin-top: 14px;
}

.mb_14,
.my_14 {
  margin-bottom: 14px;
}

.ml_14,
.mx_14 {
  margin-left: 14px;
}

.mr_14,
.mx_14 {
  margin-right: 14px;
}

.mt_16,
.my_16 {
  margin-top: 16px;
}

.mb_16,
.my_16 {
  margin-bottom: 16px;
}

.ml_16,
.mx_16 {
  margin-left: 16px;
}

.mr_16,
.mx_16 {
  margin-right: 16px;
}

.mt_18,
.my_18 {
  margin-top: 18px;
}

.mb_18,
.my_18 {
  margin-bottom: 18px;
}

.ml_18,
.mx_18 {
  margin-left: 18px;
}

.mr_18,
.mx_18 {
  margin-right: 18px;
}

.mt_20,
.my_20 {
  margin-top: 20px;
}

.mb_20,
.my_20 {
  margin-bottom: 20px;
}

.ml_20,
.mx_20 {
  margin-left: 20px;
}

.mr_20,
.mx_20 {
  margin-right: 20px;
}

.mt_22,
.my_22 {
  margin-top: 22px;
}

.mb_22,
.my_22 {
  margin-bottom: 22px;
}

.ml_22,
.mx_22 {
  margin-left: 22px;
}

.mr_22,
.mx_22 {
  margin-right: 22px;
}

.mt_24,
.my_24 {
  margin-top: 24px;
}

.mb_24,
.my_24 {
  margin-bottom: 24px;
}

.ml_24,
.mx_24 {
  margin-left: 24px;
}

.mr_24,
.mx_24 {
  margin-right: 24px;
}

.mt_26,
.my_26 {
  margin-top: 26px;
}

.mb_26,
.my_26 {
  margin-bottom: 26px;
}

.ml_26,
.mx_26 {
  margin-left: 26px;
}

.mr_26,
.mx_26 {
  margin-right: 26px;
}

.mt_28,
.my_28 {
  margin-top: 28px;
}

.mb_28,
.my_28 {
  margin-bottom: 28px;
}

.ml_28,
.mx_28 {
  margin-left: 28px;
}

.mr_28,
.mx_28 {
  margin-right: 28px;
}

.mt_30,
.my_30 {
  margin-top: 30px !important;
}

.mb_30,
.my_30 {
  margin-bottom: 30px;
}

.ml_30,
.mx_30 {
  margin-left: 30px;
}

.mr_30,
.mx_30 {
  margin-right: 30px;
}

.mt_32,
.my_32 {
  margin-top: 32px;
}

.mb_32,
.my_32 {
  margin-bottom: 32px;
}

.ml_32,
.mx_32 {
  margin-left: 32px;
}

.mr_32,
.mx_32 {
  margin-right: 32px;
}

.mt_34,
.my_34 {
  margin-top: 34px;
}

.mb_34,
.my_34 {
  margin-bottom: 34px;
}

.ml_34,
.mx_34 {
  margin-left: 34px;
}

.mr_34,
.mx_34 {
  margin-right: 34px;
}

.mt_36,
.my_36 {
  margin-top: 36px;
}

.mb_36,
.my_36 {
  margin-bottom: 36px;
}

.ml_36,
.mx_36 {
  margin-left: 36px;
}

.mr_36,
.mx_36 {
  margin-right: 36px;
}

.mt_38,
.my_38 {
  margin-top: 38px;
}

.mb_38,
.my_38 {
  margin-bottom: 38px;
}

.ml_38,
.mx_38 {
  margin-left: 38px;
}

.mr_38,
.mx_38 {
  margin-right: 38px;
}

.mt_40,
.my_40 {
  margin-top: 40px;
}

.mb_40,
.my_40 {
  margin-bottom: 40px;
}

.ml_40,
.mx_40 {
  margin-left: 40px;
}

.mr_40,
.mx_40 {
  margin-right: 40px;
}

.mt_42,
.my_42 {
  margin-top: 42px;
}

.mb_42,
.my_42 {
  margin-bottom: 42px;
}

.ml_42,
.mx_42 {
  margin-left: 42px;
}

.mr_42,
.mx_42 {
  margin-right: 42px;
}

.mt_44,
.my_44 {
  margin-top: 44px;
}

.mb_44,
.my_44 {
  margin-bottom: 44px;
}

.ml_44,
.mx_44 {
  margin-left: 44px;
}

.mr_44,
.mx_44 {
  margin-right: 44px;
}

.mt_46,
.my_46 {
  margin-top: 46px;
}

.mb_46,
.my_46 {
  margin-bottom: 46px;
}

.ml_46,
.mx_46 {
  margin-left: 46px;
}

.mr_46,
.mx_46 {
  margin-right: 46px;
}

.mt_48,
.my_48 {
  margin-top: 48px;
}

.mb_48,
.my_48 {
  margin-bottom: 48px;
}

.ml_48,
.mx_48 {
  margin-left: 48px;
}

.mr_48,
.mx_48 {
  margin-right: 48px;
}

.mt_50,
.my_50 {
  margin-top: 50px;
}

.mb_50,
.my_50 {
  margin-bottom: 50px;
}

.ml_50,
.mx_50 {
  margin-left: 50px;
}

.mr_50,
.mx_50 {
  margin-right: 50px;
}

.mt_52,
.my_52 {
  margin-top: 52px;
}

.mb_52,
.my_52 {
  margin-bottom: 52px;
}

.ml_52,
.mx_52 {
  margin-left: 52px;
}

.mr_52,
.mx_52 {
  margin-right: 52px;
}

.mt_54,
.my_54 {
  margin-top: 54px;
}

.mb_54,
.my_54 {
  margin-bottom: 54px;
}

.ml_54,
.mx_54 {
  margin-left: 54px;
}

.mr_54,
.mx_54 {
  margin-right: 54px;
}

.mt_56,
.my_56 {
  margin-top: 56px;
}

.mb_56,
.my_56 {
  margin-bottom: 56px;
}

.ml_56,
.mx_56 {
  margin-left: 56px;
}

.mr_56,
.mx_56 {
  margin-right: 56px;
}

.mt_58,
.my_58 {
  margin-top: 58px;
}

.mb_58,
.my_58 {
  margin-bottom: 58px;
}

.ml_58,
.mx_58 {
  margin-left: 58px;
}

.mr_58,
.mx_58 {
  margin-right: 58px;
}

.mt_60,
.my_60 {
  margin-top: 60px;
}

.mb_60,
.my_60 {
  margin-bottom: 60px;
}

.ml_60,
.mx_60 {
  margin-left: 60px;
}

.mr_60,
.mx_60 {
  margin-right: 60px;
}

.mt_62,
.my_62 {
  margin-top: 62px;
}

.mb_62,
.my_62 {
  margin-bottom: 62px;
}

.ml_62,
.mx_62 {
  margin-left: 62px;
}

.mr_62,
.mx_62 {
  margin-right: 62px;
}

.mt_64,
.my_64 {
  margin-top: 64px;
}

.mb_64,
.my_64 {
  margin-bottom: 64px;
}

.ml_64,
.mx_64 {
  margin-left: 64px;
}

.mr_64,
.mx_64 {
  margin-right: 64px;
}

.mt_66,
.my_66 {
  margin-top: 66px;
}

.mb_66,
.my_66 {
  margin-bottom: 66px;
}

.ml_66,
.mx_66 {
  margin-left: 66px;
}

.mr_66,
.mx_66 {
  margin-right: 66px;
}

.mt_68,
.my_68 {
  margin-top: 68px;
}

.mb_68,
.my_68 {
  margin-bottom: 68px;
}

.ml_68,
.mx_68 {
  margin-left: 68px;
}

.mr_68,
.mx_68 {
  margin-right: 68px;
}

.mt_70,
.my_70 {
  margin-top: 70px;
}

.mb_70,
.my_70 {
  margin-bottom: 70px;
}

.ml_70,
.mx_70 {
  margin-left: 70px;
}

.mr_70,
.mx_70 {
  margin-right: 70px;
}

.mt_72,
.my_72 {
  margin-top: 72px;
}

.mb_72,
.my_72 {
  margin-bottom: 72px;
}

.ml_72,
.mx_72 {
  margin-left: 72px;
}

.mr_72,
.mx_72 {
  margin-right: 72px;
}

.mt_74,
.my_74 {
  margin-top: 74px;
}

.mb_74,
.my_74 {
  margin-bottom: 74px;
}

.ml_74,
.mx_74 {
  margin-left: 74px;
}

.mr_74,
.mx_74 {
  margin-right: 74px;
}

.mt_76,
.my_76 {
  margin-top: 76px;
}

.mb_76,
.my_76 {
  margin-bottom: 76px;
}

.ml_76,
.mx_76 {
  margin-left: 76px;
}

.mr_76,
.mx_76 {
  margin-right: 76px;
}

.mt_78,
.my_78 {
  margin-top: 78px;
}

.mb_78,
.my_78 {
  margin-bottom: 78px;
}

.ml_78,
.mx_78 {
  margin-left: 78px;
}

.mr_78,
.mx_78 {
  margin-right: 78px;
}

.mt_80,
.my_80 {
  margin-top: 80px;
}

.mb_80,
.my_80 {
  margin-bottom: 80px;
}

.ml_80,
.mx_80 {
  margin-left: 80px;
}

.mr_80,
.mx_80 {
  margin-right: 80px;
}

.mt_82,
.my_82 {
  margin-top: 82px;
}

.mb_82,
.my_82 {
  margin-bottom: 82px;
}

.ml_82,
.mx_82 {
  margin-left: 82px;
}

.mr_82,
.mx_82 {
  margin-right: 82px;
}

.mt_84,
.my_84 {
  margin-top: 84px;
}

.mb_84,
.my_84 {
  margin-bottom: 84px;
}

.ml_84,
.mx_84 {
  margin-left: 84px;
}

.mr_84,
.mx_84 {
  margin-right: 84px;
}

.mt_86,
.my_86 {
  margin-top: 86px;
}

.mb_86,
.my_86 {
  margin-bottom: 86px;
}

.ml_86,
.mx_86 {
  margin-left: 86px;
}

.mr_86,
.mx_86 {
  margin-right: 86px;
}

.mt_88,
.my_88 {
  margin-top: 88px;
}

.mb_88,
.my_88 {
  margin-bottom: 88px;
}

.ml_88,
.mx_88 {
  margin-left: 88px;
}

.mr_88,
.mx_88 {
  margin-right: 88px;
}

.mt_90,
.my_90 {
  margin-top: 90px;
}

.mb_90,
.my_90 {
  margin-bottom: 90px;
}

.ml_90,
.mx_90 {
  margin-left: 90px;
}

.mr_90,
.mx_90 {
  margin-right: 90px;
}

.mt_92,
.my_92 {
  margin-top: 92px;
}

.mb_92,
.my_92 {
  margin-bottom: 92px;
}

.ml_92,
.mx_92 {
  margin-left: 92px;
}

.mr_92,
.mx_92 {
  margin-right: 92px;
}

.mt_94,
.my_94 {
  margin-top: 94px;
}

.mb_94,
.my_94 {
  margin-bottom: 94px;
}

.ml_94,
.mx_94 {
  margin-left: 94px;
}

.mr_94,
.mx_94 {
  margin-right: 94px;
}

.mt_96,
.my_96 {
  margin-top: 96px;
}

.mb_96,
.my_96 {
  margin-bottom: 96px;
}

.ml_96,
.mx_96 {
  margin-left: 96px;
}

.mr_96,
.mx_96 {
  margin-right: 96px;
}

.mt_98,
.my_98 {
  margin-top: 98px;
}

.mb_98,
.my_98 {
  margin-bottom: 98px;
}

.ml_98,
.mx_98 {
  margin-left: 98px;
}

.mr_98,
.mx_98 {
  margin-right: 98px;
}

.mt_100,
.my_100 {
  margin-top: 100px;
}

.mb_100,
.my_100 {
  margin-bottom: 100px;
}

.ml_100,
.mx_100 {
  margin-left: 100px;
}

.mr_100,
.mx_100 {
  margin-right: 100px;
}

.mt_102,
.my_102 {
  margin-top: 102px;
}

.mb_102,
.my_102 {
  margin-bottom: 102px;
}

.ml_102,
.mx_102 {
  margin-left: 102px;
}

.mr_102,
.mx_102 {
  margin-right: 102px;
}

.mt_104,
.my_104 {
  margin-top: 104px;
}

.mb_104,
.my_104 {
  margin-bottom: 104px;
}

.ml_104,
.mx_104 {
  margin-left: 104px;
}

.mr_104,
.mx_104 {
  margin-right: 104px;
}

.mt_106,
.my_106 {
  margin-top: 106px;
}

.mb_106,
.my_106 {
  margin-bottom: 106px;
}

.ml_106,
.mx_106 {
  margin-left: 106px;
}

.mr_106,
.mx_106 {
  margin-right: 106px;
}

.mt_108,
.my_108 {
  margin-top: 108px;
}

.mb_108,
.my_108 {
  margin-bottom: 108px;
}

.ml_108,
.mx_108 {
  margin-left: 108px;
}

.mr_108,
.mx_108 {
  margin-right: 108px;
}

.mt_110,
.my_110 {
  margin-top: 110px;
}

.mb_110,
.my_110 {
  margin-bottom: 110px;
}

.ml_110,
.mx_110 {
  margin-left: 110px;
}

.mr_110,
.mx_110 {
  margin-right: 110px;
}

.mt_40,
.my_40 {
  margin-top: 40px;
}

.mb_40,
.my_40 {
  margin-bottom: 40px;
}

.ml_40,
.mx_40 {
  margin-left: 40px;
}

.mr_40,
.mx_40 {
  margin-right: 40px;
}

.mt_42,
.my_42 {
  margin-top: 42px;
}

.mb_42,
.my_42 {
  margin-bottom: 42px;
}

.ml_42,
.mx_42 {
  margin-left: 42px;
}

.mr_42,
.mx_42 {
  margin-right: 42px;
}

.pt_2,
.py_2 {
  padding-top: 2px;
}

.pb_2,
.py_2 {
  padding-bottom: 2px;
}

.pl_2,
.px_2 {
  padding-left: 2px;
}

.pr_2,
.px_2 {
  padding-right: 2px;
}

.pt_4,
.py_4 {
  padding-top: 4px;
}

.pb_4,
.py_4 {
  padding-bottom: 4px;
}

.pl_4,
.px_4 {
  padding-left: 4px;
}

.pr_4,
.px_4 {
  padding-right: 4px;
}

.pt_6,
.py_6 {
  padding-top: 6px;
}

.pb_6,
.py_6 {
  padding-bottom: 6px;
}

.pl_6,
.px_6 {
  padding-left: 6px;
}

.pr_6,
.px_6 {
  padding-right: 6px;
}

.pt_8,
.py_8 {
  padding-top: 8px;
}

.pb_8,
.py_8 {
  padding-bottom: 8px;
}

.pl_8,
.px_8 {
  padding-left: 8px;
}

.pr_8,
.px_8 {
  padding-right: 8px;
}

.pt_10,
.py_10 {
  padding-top: 10px;
}

.pb_10,
.py_10 {
  padding-bottom: 10px;
}

.pl_10,
.px_10 {
  padding-left: 10px;
}

.pr_10,
.px_10 {
  padding-right: 10px;
}

.pt_12,
.py_12 {
  padding-top: 12px;
}

.pb_12,
.py_12 {
  padding-bottom: 12px;
}

.pl_12,
.px_12 {
  padding-left: 12px;
}

.pr_12,
.px_12 {
  padding-right: 12px;
}

.pt_14,
.py_14 {
  padding-top: 14px;
}

.pb_14,
.py_14 {
  padding-bottom: 14px;
}

.pl_14,
.px_14 {
  padding-left: 14px;
}

.pr_14,
.px_14 {
  padding-right: 14px;
}

.pt_16,
.py_16 {
  padding-top: 16px;
}

.pb_16,
.py_16 {
  padding-bottom: 16px;
}

.pl_16,
.px_16 {
  padding-left: 16px;
}

.pr_16,
.px_16 {
  padding-right: 16px;
}

.pt_18,
.py_18 {
  padding-top: 18px;
}

.pb_18,
.py_18 {
  padding-bottom: 18px;
}

.pl_18,
.px_18 {
  padding-left: 18px;
}

.pr_18,
.px_18 {
  padding-right: 18px;
}

.pt_20,
.py_20 {
  padding-top: 20px;
}

.pb_20,
.py_20 {
  padding-bottom: 20px;
}

.pl_20,
.px_20 {
  padding-left: 20px;
}

.pr_20,
.px_20 {
  padding-right: 20px;
}

.pt_22,
.py_22 {
  padding-top: 22px;
}

.pb_22,
.py_22 {
  padding-bottom: 22px;
}

.pl_22,
.px_22 {
  padding-left: 22px;
}

.pr_22,
.px_22 {
  padding-right: 22px;
}

.pt_24,
.py_24 {
  padding-top: 24px;
}

.pb_24,
.py_24 {
  padding-bottom: 24px;
}

.pl_24,
.px_24 {
  padding-left: 24px;
}

.pr_24,
.px_24 {
  padding-right: 24px;
}

.pt_26,
.py_26 {
  padding-top: 26px;
}

.pb_26,
.py_26 {
  padding-bottom: 26px;
}

.pl_26,
.px_26 {
  padding-left: 26px;
}

.pr_26,
.px_26 {
  padding-right: 26px;
}

.pt_28,
.py_28 {
  padding-top: 28px;
}

.pb_28,
.py_28 {
  padding-bottom: 28px;
}

.pl_28,
.px_28 {
  padding-left: 28px;
}

.pr_28,
.px_28 {
  padding-right: 28px;
}

.pt_30,
.py_30 {
  padding-top: 30px;
}

.pb_30,
.py_30 {
  padding-bottom: 30px;
}

.pl_30,
.px_30 {
  padding-left: 30px;
}

.pr_30,
.px_30 {
  padding-right: 30px;
}

.pt_32,
.py_32 {
  padding-top: 32px;
}

.pb_32,
.py_32 {
  padding-bottom: 32px;
}

.pl_32,
.px_32 {
  padding-left: 32px;
}

.pr_32,
.px_32 {
  padding-right: 32px;
}

.pt_34,
.py_34 {
  padding-top: 34px;
}

.pb_34,
.py_34 {
  padding-bottom: 34px;
}

.pl_34,
.px_34 {
  padding-left: 34px;
}

.pr_34,
.px_34 {
  padding-right: 34px;
}

.pt_36,
.py_36 {
  padding-top: 36px;
}

.pb_36,
.py_36 {
  padding-bottom: 36px;
}

.pl_36,
.px_36 {
  padding-left: 36px;
}

.pr_36,
.px_36 {
  padding-right: 36px;
}

.pt_38,
.py_38 {
  padding-top: 38px;
}

.pb_38,
.py_38 {
  padding-bottom: 38px;
}

.pl_38,
.px_38 {
  padding-left: 38px;
}

.pr_38,
.px_38 {
  padding-right: 38px;
}

.pt_40,
.py_40 {
  padding-top: 40px;
}

.pb_40,
.py_40 {
  padding-bottom: 40px;
}

.pl_40,
.px_40 {
  padding-left: 40px;
}

.pr_40,
.px_40 {
  padding-right: 40px;
}

.pt_42,
.py_42 {
  padding-top: 42px;
}

.pb_42,
.py_42 {
  padding-bottom: 42px;
}

.pl_42,
.px_42 {
  padding-left: 42px;
}

.pr_42,
.px_42 {
  padding-right: 42px;
}

.pt_44,
.py_44 {
  padding-top: 44px;
}

.pb_44,
.py_44 {
  padding-bottom: 44px;
}

.pl_44,
.px_44 {
  padding-left: 44px;
}

.pr_44,
.px_44 {
  padding-right: 44px;
}

.pt_46,
.py_46 {
  padding-top: 46px;
}

.pb_46,
.py_46 {
  padding-bottom: 46px;
}

.pl_46,
.px_46 {
  padding-left: 46px;
}

.pr_46,
.px_46 {
  padding-right: 46px;
}

.pt_48,
.py_48 {
  padding-top: 48px;
}

.pb_48,
.py_48 {
  padding-bottom: 48px;
}

.pl_48,
.px_48 {
  padding-left: 48px;
}

.pr_48,
.px_48 {
  padding-right: 48px;
}

.pt_50,
.py_50 {
  padding-top: 50px;
}

.pb_50,
.py_50 {
  padding-bottom: 50px;
}

.pl_50,
.px_50 {
  padding-left: 50px;
}

.pr_50,
.px_50 {
  padding-right: 50px;
}

.pt_52,
.py_52 {
  padding-top: 52px;
}

.pb_52,
.py_52 {
  padding-bottom: 52px;
}

.pl_52,
.px_52 {
  padding-left: 52px;
}

.pr_52,
.px_52 {
  padding-right: 52px;
}

.pt_54,
.py_54 {
  padding-top: 54px;
}

.pb_54,
.py_54 {
  padding-bottom: 54px;
}

.pl_54,
.px_54 {
  padding-left: 54px;
}

.pr_54,
.px_54 {
  padding-right: 54px;
}

.pt_56,
.py_56 {
  padding-top: 56px;
}

.pb_56,
.py_56 {
  padding-bottom: 56px;
}

.pl_56,
.px_56 {
  padding-left: 56px;
}

.pr_56,
.px_56 {
  padding-right: 56px;
}

.pt_58,
.py_58 {
  padding-top: 58px;
}

.pb_58,
.py_58 {
  padding-bottom: 58px;
}

.pl_58,
.px_58 {
  padding-left: 58px;
}

.pr_58,
.px_58 {
  padding-right: 58px;
}

.pt_60,
.py_60 {
  padding-top: 60px;
}

.pb_60,
.py_60 {
  padding-bottom: 60px;
}

.pl_60,
.px_60 {
  padding-left: 60px;
}

.pr_60,
.px_60 {
  padding-right: 60px;
}

.pt_62,
.py_62 {
  padding-top: 62px;
}

.pb_62,
.py_62 {
  padding-bottom: 62px;
}

.pl_62,
.px_62 {
  padding-left: 62px;
}

.pr_62,
.px_62 {
  padding-right: 62px;
}

.pt_64,
.py_64 {
  padding-top: 64px;
}

.pb_64,
.py_64 {
  padding-bottom: 64px;
}

.pl_64,
.px_64 {
  padding-left: 64px;
}

.pr_64,
.px_64 {
  padding-right: 64px;
}

.pt_66,
.py_66 {
  padding-top: 66px;
}

.pb_66,
.py_66 {
  padding-bottom: 66px;
}

.pl_66,
.px_66 {
  padding-left: 66px;
}

.pr_66,
.px_66 {
  padding-right: 66px;
}

.pt_68,
.py_68 {
  padding-top: 68px;
}

.pb_68,
.py_68 {
  padding-bottom: 68px;
}

.pl_68,
.px_68 {
  padding-left: 68px;
}

.pr_68,
.px_68 {
  padding-right: 68px;
}

.pt_70,
.py_70 {
  padding-top: 70px;
}

.pb_70,
.py_70 {
  padding-bottom: 70px;
}

.pl_70,
.px_70 {
  padding-left: 70px;
}

.pr_70,
.px_70 {
  padding-right: 70px;
}

.pt_72,
.py_72 {
  padding-top: 72px;
}

.pb_72,
.py_72 {
  padding-bottom: 72px;
}

.pl_72,
.px_72 {
  padding-left: 72px;
}

.pr_72,
.px_72 {
  padding-right: 72px;
}

.pt_74,
.py_74 {
  padding-top: 74px;
}

.pb_74,
.py_74 {
  padding-bottom: 74px;
}

.pl_74,
.px_74 {
  padding-left: 74px;
}

.pr_74,
.px_74 {
  padding-right: 74px;
}

.pt_76,
.py_76 {
  padding-top: 76px;
}

.pb_76,
.py_76 {
  padding-bottom: 76px;
}

.pl_76,
.px_76 {
  padding-left: 76px;
}

.pr_76,
.px_76 {
  padding-right: 76px;
}

.pt_78,
.py_78 {
  padding-top: 78px;
}

.pb_78,
.py_78 {
  padding-bottom: 78px;
}

.pl_78,
.px_78 {
  padding-left: 78px;
}

.pr_78,
.px_78 {
  padding-right: 78px;
}

.pt_80,
.py_80 {
  padding-top: 80px;
}

.pb_80,
.py_80 {
  padding-bottom: 80px;
}

.pl_80,
.px_80 {
  padding-left: 80px;
}

.pr_80,
.px_80 {
  padding-right: 80px;
}

.pt_82,
.py_82 {
  padding-top: 82px;
}

.pb_82,
.py_82 {
  padding-bottom: 82px;
}

.pl_82,
.px_82 {
  padding-left: 82px;
}

.pr_82,
.px_82 {
  padding-right: 82px;
}

.pt_84,
.py_84 {
  padding-top: 84px;
}

.pb_84,
.py_84 {
  padding-bottom: 84px;
}

.pl_84,
.px_84 {
  padding-left: 84px;
}

.pr_84,
.px_84 {
  padding-right: 84px;
}

.pt_86,
.py_86 {
  padding-top: 86px;
}

.pb_86,
.py_86 {
  padding-bottom: 86px;
}

.pl_86,
.px_86 {
  padding-left: 86px;
}

.pr_86,
.px_86 {
  padding-right: 86px;
}

.pt_88,
.py_88 {
  padding-top: 88px;
}

.pb_88,
.py_88 {
  padding-bottom: 88px;
}

.pl_88,
.px_88 {
  padding-left: 88px;
}

.pr_88,
.px_88 {
  padding-right: 88px;
}

.pt_90,
.py_90 {
  padding-top: 90px;
}

.pb_90,
.py_90 {
  padding-bottom: 90px;
}

.pl_90,
.px_90 {
  padding-left: 90px;
}

.pr_90,
.px_90 {
  padding-right: 90px;
}

.pt_92,
.py_92 {
  padding-top: 92px;
}

.pb_92,
.py_92 {
  padding-bottom: 92px;
}

.pl_92,
.px_92 {
  padding-left: 92px;
}

.pr_92,
.px_92 {
  padding-right: 92px;
}

.pt_94,
.py_94 {
  padding-top: 94px;
}

.pb_94,
.py_94 {
  padding-bottom: 94px;
}

.pl_94,
.px_94 {
  padding-left: 94px;
}

.pr_94,
.px_94 {
  padding-right: 94px;
}

.pt_96,
.py_96 {
  padding-top: 96px;
}

.pb_96,
.py_96 {
  padding-bottom: 96px;
}

.pl_96,
.px_96 {
  padding-left: 96px;
}

.pr_96,
.px_96 {
  padding-right: 96px;
}

.pt_98,
.py_98 {
  padding-top: 98px;
}

.pb_98,
.py_98 {
  padding-bottom: 98px;
}

.pl_98,
.px_98 {
  padding-left: 98px;
}

.pr_98,
.px_98 {
  padding-right: 98px;
}

.pt_100,
.py_100 {
  padding-top: 100px;
}

.pb_100,
.py_100 {
  padding-bottom: 100px;
}

.pl_100,
.px_100 {
  padding-left: 100px;
}

.pr_100,
.px_100 {
  padding-right: 100px;
}

.pt_102,
.py_102 {
  padding-top: 102px;
}

.pb_102,
.py_102 {
  padding-bottom: 102px;
}

.pl_102,
.px_102 {
  padding-left: 102px;
}

.pr_102,
.px_102 {
  padding-right: 102px;
}

.pt_104,
.py_104 {
  padding-top: 104px;
}

.pb_104,
.py_104 {
  padding-bottom: 104px;
}

.pl_104,
.px_104 {
  padding-left: 104px;
}

.pr_104,
.px_104 {
  padding-right: 104px;
}

.pt_106,
.py_106 {
  padding-top: 106px;
}

.pb_106,
.py_106 {
  padding-bottom: 106px;
}

.pl_106,
.px_106 {
  padding-left: 106px;
}

.pr_106,
.px_106 {
  padding-right: 106px;
}

.pt_108,
.py_108 {
  padding-top: 108px;
}

.pb_108,
.py_108 {
  padding-bottom: 108px;
}

.pl_108,
.px_108 {
  padding-left: 108px;
}

.pr_108,
.px_108 {
  padding-right: 108px;
}

.pt_110,
.py_110 {
  padding-top: 110px;
}

.pb_110,
.py_110 {
  padding-bottom: 110px;
}

.pl_110,
.px_110 {
  padding-left: 110px;
}

.pr_110,
.px_110 {
  padding-right: 110px;
}

.pt_40,
.py_40 {
  padding-top: 40px;
}

.pb_40,
.py_40 {
  padding-bottom: 40px;
}

.pl_40,
.px_40 {
  padding-left: 40px;
}

.pr_40,
.px_40 {
  padding-right: 40px;
}

.pt_42,
.py_42 {
  padding-top: 42px;
}

.pb_42,
.py_42 {
  padding-bottom: 42px;
}

.pl_42,
.px_42 {
  padding-left: 42px;
}

.pr_42,
.px_42 {
  padding-right: 42px;
}

.custom_header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* optional border */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 11px 30px;
}
/*# sourceMappingURL=style.css.map */