.area_of_mastery{
    .languages{
        h5{
            font-size: 24;
            font-weight: bold;
            color: #0a0a0a;
            line-height: inherit;
        }
        .badge_items{
            display: flex;
            align-items: center;
            gap: 0 18px;
            .badge{
                padding: 8px 18px;
                border: 1px solid #985AD3;
                font-size: 16px;
                line-height: inherit;
                font-weight: normal;
                border-radius: 30px;
                color: #985AD3;
            }
        }
    }
}